.container-comment .comment-tittle h2 {
    font-size: 4.8rem;
    font-weight: 600;
    font-family: 'Montserrat';
    margin: 10rem 0 4.8rem 0 ;
}
.comments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.comments .comment{
    background-color:hsla(0, 0%, 95%, 1);
    width: 60.4rem;
    height: 39rem;
    border-radius: 1.6rem;
}

.comments .comment .comment-user{
    padding: 4rem;
}

.comment .comment-user h3{
    font-size: 3.2rem;
    font-weight: 500;
    font-family: 'Montserrat';
    padding: 2.4rem 0 1.6rem 0;

}

.comment .comment-user p{
    font-size: 2.4rem;
    font-weight: 400;
    color:hsla(0, 0%, 38%, 1);
    width: 40rem;
    padding-bottom: 1.6rem;

}

.comment-user .stars img {
    margin-left: 0.5rem;
}