.localization h2{
    font-size: 4.8rem;
    font-weight: 600;
    padding: 10rem 0 6rem 0;
}

.localization img {
    width: 100%;
}

.localization-map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.6rem;
    position: relative;
}

.localization-map input {
    border: solid 1px black;
    width: 63rem;
    height: 7rem;
    border-radius: 1rem 0 0 1rem;
    font-family: 'Inter';
    padding-left: 6.6rem;
    font-weight: 400;
    font-size: 2.4rem;
    color: hsla(0, 0%, 16%, 1);
}

.localization-map .btn-container{
    background-color: #da2535;
    width: 18.3rem;
    height: 7rem;
    border-radius: 0 1rem 1rem 0;
    font-family: 'inter';
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localization-map .btn-container a{
    color: #ffff;
}

.localization-map .ico-localization i {
    font-size: 3rem;
    color:#da2535;
    position: absolute;
    top: 2.2rem;
    right: 107.8rem;

}

