.localization h2{
    font-size: 48px;
    font-weight: 600;
    padding: 100px 0 60px 0;
}

.localization img {
    width: 100%;
}

.localization-map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    position: relative;
}

.localization-map input {
    border: solid 1px black;
    width: 630px;
    height: 70px;
    border-radius: 10px 0 0 10px;
    font-family: 'Inter';
    padding-left: 66px;
    font-weight: 400;
    font-size: 24px;
}

.localization-map .btn-container{
    background-color: #da2535;
    width: 183px;
    height: 70px;
    border-radius: 0 10px 10px 0;
    font-family: 'inter';
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.localization-map .btn-container a{
    color: #ffff;
}

.localization-map .ico-localization i {
    font-size: 30px;
    color:#da2535;
    position: absolute;
    top: 8px;
    right: 3px;

}

