@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
    max-width: 1240px;
}

html {
    font-family: "Inter", sans-serif;
    outline: none;
    margin: 0 auto;
    font-size: 62.5%;
    
}

h1, h2,h3,h5, p {
    color:hsla(0, 0%, 16%, 1);
    
}

a {
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}